<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.css">
    <title>Terms Of Use - Daily To Do</title>
</head>
<body style="background-image: url('https://www.nawpic.com/media/2020/chill-nawpic-1.jpg'); background-size: cover;">
    <nav class="float-end p-2">
        <a href="/whatsnew"><button class="btn btn-transparent text-light text-decoration-underline">What's New</button></a>
    </nav>

    <section style="padding:9%; padding-right: 30%; padding-left: 30%;">
        <div class="container">
            <div class="shadow-lg p-5 rounded bg-light">
                <h1 align="center">Terms Of Use</h1><br>
                <p>Just chill and fulfill your responsibilities.</p><br>
                <p>We just want to give some information. We use cookies after registration.</p>
                </center>
                </form>
                <center>
                <a href="/register"><button class="btn btn-transparent text-dark text-decoration-underline">Register</button></a>
                <a href="/terms"><button class="btn btn-transparent text-dark text-decoration-underline">Terms Of Use</button></a>
                </center>
            </div>
        </div>
    </section>
</body>
</html>