<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.css">
    <title>What's New - Daily To Do</title>
</head>
<body style="background-image: url('https://images.hdqwalls.com/wallpapers/delorean-and-chill-0d.jpg'); background-size: cover;">
    <nav class="float-end p-2">
        <a href="/login"><button class="btn btn-transparent text-light text-decoration-underline">Login</button></a>
    </nav>

    <section style="padding:9%; padding-right: 30%; padding-left: 30%;">
        <div class="container">
            <div class="shadow-lg p-5 rounded bg-light">
                <h1 align="center">0.0.1BETA Published</h1><br>
                <p>We are opened and everything is new. The site has errors, bugs and omissions. We are aware of this and are working to resolve it.</p>
                <ul>
                    <li>Created "Dashboard"</li>
                    <li>Created "Login"</li>
                    <li>Created "Register"</li>
                    <li>Created "What's New"</li>
                    <li>Created "Terms Of Use"</li>
                </ul>
                </center>
                </form>
                <center>
                <a href="/register"><button class="btn btn-transparent text-dark text-decoration-underline">Register</button></a>
                <a href="/terms"><button class="btn btn-transparent text-dark text-decoration-underline">Terms Of Use</button></a>
                </center>
            </div>
        </div>
    </section>
</body>
</html>